/*banner-section*/
.banner-top {
    padding: 10%;
}

img.slogan {
    position: absolute;
    width: 400px;
    z-index: 1;
}

.banner-top img.slogan {
    left: 2%;
    bottom: 35%;
    width: 275px;
}

.banner-bottom h6{
    font-weight: 300;
    line-height: 32px;
}

.banner-bottom .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.banner-bottom .read-more {
    font-size: 18px;
    text-decoration: underline;
}

@media (min-width: 576px) {
    .banner-top img.slogan {
        width: 300px;
        left: 5%;
        bottom: 35%;
    }
}

@media (min-width: 768px) {
    .banner-top img.slogan {
        width: 300px;
        left: 5%;
        bottom: 30%;
    }
}

@media (min-width: 992px) {
    .banner-top img.slogan {
        width: 350px;
        left: 5%;
        bottom: 22%;
    }
}


@media (min-width: 1199px) {
    .banner-top img.slogan {
        width: 350px;
        left: 2%;
        bottom: 20%;
    }
}

@media (min-width: 1440px) {
    .banner-top img.slogan {
        width: 350px;
        left: 2%;
        bottom: 20%;
    }
}

@media (min-width: 1600px) {
    .banner-top img.slogan {
        width: 400px;
        left: 8%;
    }
}


/*utility section style*/

.c20-sec-utility {
    background-color: #172750
}

.c20-sec-utility .service-list .c20-iconbox {
    padding: 60px 0px;
}

.c20-iconbox {
    padding: 0 15px;
    flex: 0 0 50%
}

.c20-iconbox-thumb {
    width: 138px;
    height: 138px;
    margin: 0 auto 10px;
    border-radius: 50%;
    display: flex;
    border: 9px solid #fff
}

.c20-iconbox-thumb {
    background: linear-gradient(#F8E03E, #B98E00);
}

.c20-iconbox-thumb img {
    margin: auto
}

.c20-iconbox-body {
    max-width: 138px;
    margin: 0 auto
}

@media screen and (min-width: 768px) {
    .service-list .c20-iconbox {
        flex: 0 0 33%
    }
}

@media screen and (min-width: 1199px) {
    .service-list .c20-iconbox {
        flex: 0 0 16.66%
    }
}

/*content section*/

.c20-sec-content {
    padding: 100px 0px;
}

.c20-sec-content p.h6 {
    color: #333333;
    line-height: 34px;
    font-weight: 500;
}

.coupon-slogan img.slogan {
    bottom: -150px;
    right: -100px;
}
@media (max-width: 1401px) {
    .coupon-slogan img.slogan{
        right: 0;
    }
}
@media (max-width: 1200px) {
    .coupon-slogan img.slogan{
        right: 0;
    }
}
@media (max-width: 998px) {
    .coupon-slogan{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .coupon-slogan img.slogan{
        position: relative;
        width: 300px;
        bottom: 0;
    }
}

/*testimonial section*/

.c20-sec-testimonial{
    background: #EBF0FA;
    /*z-index: -1;*/
}

.wh-image-wrap {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .3);
    background: #fff;
    padding: 2%
}

.wh-image-wrap img {
    width: 100%;
    height: auto
}

.wh-right {
    max-width: 100%
}

.label-circle {
    background-image: url(//www.reicheltplumbing.com/wp-content/themes/reicheltplumbing/assets/css/../img/red-circle.png);
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
    .wh-image-wrap {
        padding: 2% 2%
    }

    .wh-right {
        width: 50%;
        position: relative
    }

    .wh-left {
        width: 50%;
        padding-left: 10%;
        padding-top: 5%;
        padding-right: 15px
    }
    .wh-image-wrap {
        margin-top: -90px;
        padding: 2% ;
    }
}

@media screen and (min-width: 1199px) {
    .testimonial-text, .testimonial-info {
        font-size: 17px;
        line-height: 1.8
    }

    .testimonial-text {
        font-size: 20px;
        padding: 0 30px
    }

    .testimonial-text:before, .testimonial-text:after {
        width: 28px;
        height: 20px
    }

    .testimonial-text:before {
        top: 8px
    }

    .testimonial-text:after {
        bottom: 8px
    }
}

@media screen and (max-width: 1600px) {
    .wh-left {
        width: 50%;
        padding: 0% 5%
    }
}

@media screen and (max-width: 768px) {
    .wh-left {
        width: 70%;
        padding: 0% 5%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1600px) {
    .wh-image-wrap {
        margin-top: -130px
    }

    .wh-left h2 {
        margin-bottom: 30px !important
    }
}

@media screen and (min-width: 1680px) {
    .wh-image-wrap {
        margin-top: -140px;
        padding: 2% 2%
    }

    .wh-left {
        padding: 1% 10%
    }
}

.point{
    padding-top: 20px;
}

/*our client section*/

.c20-sec-our-client{
    background: #ebf0fa;
}
.client{
    flex: 0 0 9%;
    max-width: 170px;
    padding: 0 15px;
}

@media (max-width: 1440px) {
    .client{
        flex: 0 0 15%;
        max-width: 210px;
    }

}

/*review section*/

.c20-sec-review-inner{

}
.review-content{
    background: rgba(10, 40, 86 ,.7);
    padding: 10% 1%;
}
.media-review img.star{
    width: 80%;
}
.review-logo img{
    max-width: 200px;
}


/*review slider*/

.c20-sec-review{
    background-image: linear-gradient( #EBF0FA, #FFFFFF);
}

.paginator {

}
.testimonial-text h6{
    line-height: 34px;
    font-weight: 500;
}
.testimonial-info{
    padding: 0 30px;
}
.testimonial-title{
    font-size: 20px;
    font-weight: 700;
}
.paginator span{
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.24);
    cursor: pointer;
}
.paginator span:hover{
    background: #F7BC00;
}
.paginator span.prev{
    transform-origin: center;
    transform: rotate(180deg);
    bottom: -40px;
    left: 25px;
    border-radius: 50%;
    transition: .5s;
 }

.paginator span.next{
    left: 80px;
    bottom: -40px;
    border-radius: 50%;
    transition: .5s;
}

.c20-review-img{
    padding: 150px;
}

/*coupon style*/

.coupon {
    background-image: radial-gradient( circle at right bottom, #21699B, #14143C);
}

