
/*Banner*/

.c20-sec-wh-banner {
    padding: 60px 0;
}

.wh-banner-title {
    font-size: 38px;
    line-height: 1.4;
}


@media screen and ( max-width: 768px ) {

    .c20-sec-wh-banner {
        background-position: 70% center;
    }
    
    .c20-sec-wh-banner:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(0deg, #FFFFFF 0%, #FFF3D9 100%);
        opacity: 0.52;
    }

}

@media screen and ( min-width: 991px ) {

    .c20-sec-wh-banner {
        padding: 50px 0 70px;
    }

    .wh-banner-title {
        font-size: 40px;
    }

}

@media screen and ( min-width: 1440px ) {

    .c20-sec-wh-banner {
        padding: 100px 0;
    }

    .wh-banner-title {
        font-size: 46px;
    }

}

@media screen and ( min-width: 1920px ) {

    .c20-sec-wh-banner {
        padding: 150px 0;
    }
}

.list-1 {
    padding: 0;
}

.list-1 li {
    background-image: url(../img/check-icon.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
    background-size: auto;
    list-style: none;
    font-size: 18px;
    padding-left: 50px;
}

.list-1 li:not(:last-child) {
    margin-bottom: 20px;
}

@media screen and ( min-width: 991px ) {

    .list-1 li:not(:last-child) {
        margin-bottom: 60px;
    }
}

.wh-brand-logo img {
    max-width: 50%;
}

.wh-image-wrap {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 8% 14%;
}

.wh-image-wrap img {
    width: 100%;
    height: auto;
}

.list-2 {
    padding-left: 0;
}

.list-2 li {
    list-style: none;
    background-image: url(../img/hr-bar.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 12px;
    padding-left: 25px;
    color: #333333;
    font-family: "Helvetica Neue";
    font-size: 16px;
}

.list-2 li:not(:last-child) {
    margin-bottom: 10px;
}

.wh-coupon-list div {
    flex-basis: 50%;
}


@media screen and ( min-width: 768px ) {

    .wh-image-wrap {
        padding: 8% 14%;
    }

    .wh-right {
        width: 50%;
        position: relative;
    }

    .wh-left {
        width: 50%;
        padding-left: 5%;
    }
}


@media screen and ( min-width: 991px ) {

    .wh-brand-logo img {
        max-width: 20%;
    }

    .list-2 li {
        padding-left: 30px;
        font-size: 18px;
    }

    .list-2 li:not(:last-child) {
        margin-bottom: 10px;
    }
}


@media screen and ( min-width: 1199px ) {

    .wh-image-wrap {
        margin-top: -90px;
        padding: 8% 10%;
    }

}


@media screen and ( min-width: 1440px ) {

    .wh-left {
        width: 50%;
        padding: 0 5%;
    }
}


@media screen and ( min-width: 1600px ) {

    .wh-image-wrap {
        margin-top: -130px;
    }

    .wh-left h2 {
        margin-bottom: 30px !important;
    }

    .wh-left ul {
        margin-bottom: 50px !important;
    }
}


@media screen and ( min-width: 1680px ) {

    .wh-image-wrap {
        margin-top: -140px;
        padding: 8% 14%;
    }

    .wh-left {
        padding: 0 10%;
    }
}


.wh-reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 5%;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.3);
    padding: 20px 20px 50px;
    background: #fff;
}

.wh-award-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
}

.wh-award-logo > div {
    flex-basis: 100%;
    max-width: 100%;
}

.wh-award-logo > div.review-buzz {
    flex-basis: 100%;
    max-width: 100%;
}

.wh-reviews .testimonial-text {
    background: #FAFAFA;
}

.wh-reviews .testimonial-text:before {
    border-top: 22px solid #FAFAFA;
}

.wh-reviews .emg-testimonial-slider {
    min-height: 0;
    min-width: 0;
}


@media screen and ( min-width: 575px ) {

    .wh-award-logo > div {
        flex-basis: 33%;
        max-width: 33%;
    }

    .wh-award-logo > div.review-buzz {
        flex-basis: 100%;
        max-width: 100%;
    }

}

@media screen and ( min-width: 768px ) {

    .wh-reviews {
        padding: 20px 30px 50px;
    }

    .wh-award-logo > div.review-buzz,
    .wh-award-logo > div {
        flex-basis: 50%;
        max-width: 50%;
    }

}


@media screen and ( min-width: 991px ) {

/*    .wh-award-logo > div {
        flex-basis: 50%;
        max-width: 50%;
    }

    .wh-reviews {
        padding: 40px;
    }*/

    .wh-award-logo {
        flex: 0 0 60%;
        padding-right: 50px;
    }

    .wh-reviews .emg-testimonial-slider {
        flex: 0 0 40%;
    }

}

@media screen and ( min-width: 1199px ) {

    .wh-award-logo {
        flex: 0 0 50%;
        padding-right: 20px;
    }

    .wh-reviews .emg-testimonial-slider {
        flex: 0 0 50%;
    }
}


@media screen and ( min-width: 1280px ) {

    .wh-reviews {
        padding: 50px 30px;
    }

    .wh-award-logo {
        flex: 0 0 50%;
        padding-right: 30px;
    }

    .wh-award-logo > div {
        flex-basis: 33%;
        max-width: 33%;
    }

    .wh-reviews .emg-testimonial-slider {
        flex: 0 0 50%;
    }

}


@media screen and ( min-width: 1440px ) {

    .wh-award-logo {
        flex: 0 0 60%;
    }

    .wh-award-logo > div {
        flex-basis: 20%;
        max-width: 20%;
    }

    .wh-award-logo > div.review-buzz {
        flex-basis: 40%;
        max-width: 40%;
    }

    .wh-reviews .emg-testimonial-slider {
        flex: 0 0 40%;
    }


}

@media screen and ( min-width: 1920px ) {

    .wh-reviews {
        padding: 50px;
    }

    .wh-award-logo > div {
        flex-basis: 22%;
        max-width: 22%;
    }

    .wh-award-logo > div.review-buzz {
        flex-basis: 34%;
        max-width: 34%;
    }

    .wh-award-logo {
        padding-right: 20px;
    }

}
